
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AM DIAM DMCC</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

    <!-- tailwinds css  -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="~/js/tailwind.config.js"></script>

    <!-- Fontawesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- css style  -->
    <link rel="stylesheet" href="~/css/style.css" />

    <style>
        /* CSS for active item */
        .active-item {
            background: linear-gradient(90deg, #CA6B9D 0%, rgba(4, 2, 20, 0.38) 100%);
            width: 135px;
            height: 4px;
            flex-shrink: 0;
        }
    </style>
</head>
<body>
    <div class="bg-[#020014] ">
        <!-- navbar  -->

        <div class="flex lg:hidden sticky top-0 z-[11] bg-[#020014] items-center justify-between py-5 px-4">
            <p class="text-white lg:hidden">AHMD</p>
            <div class="bg-white lg:hidden flex text-black rounded-lg p-2" id="menu-button">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-6 w-6 cursor-pointer lg:hidden block"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </div>
        </div>

        <nav class="z-10 lg:relative md:relative absolute top-20 md:top-3 py-7 lg:py-0 lg:top-0 bg-white lg:bg-[#020014] lg:flex hidden w-full justify-between items-center xl:px-40 lg:px-28 !selection:select-none"
             id="menu">
            <div class="flex flex-col lg:flex-row gap-5 lg:gap-14 items-center lg:text-white">
                <a href="~/Home/Index"> <p class=" hover:text-[#B76E79] font-semibold cursor-pointer block">Home</p></a>
                <a href="about.html"><p class="hover:text-[#B76E79] cursor-pointer font-semibold block">About</p></a>


                <div class="dropdown inline-block relative z-[111]">
                    <button class="font-semibold py-2  rounded inline-flex items-center">
                        <a href="~/Services/Index"><span class="mr-1 lg:text-[#B76E79] cursor-pointer font-semibold block">Services</span></a>
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /> </svg>
                    </button>
                    <ul class="dropdown-menu absolute hidden text-gray-700 pt-1 " style="width: max-content;">
                        <li class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="service1.html">DIAMOND SELLING SERVICE</a></li>
                        <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="service2.html">DIAMOND SOURCING SERVICE</a></li>
                        <li class=""><a class=" bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="service5.html">DM (DIAMOND MANUFACTURING)</a></li>
                        <li class=""><a class=" bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="service6.html">AM DIAM FINANCE</a></li>
                        <li class=""><a class=" bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="service7.html">FREE APPRAISAL AND SHIPPING</a></li>
                        <li class=""><a class=" bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="service8.html">SECURITY SEALS</a></li>
                        <li class=""><a class=" bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="service9.html">INVESTMENT DIAMONDS</a></li>
                        <li class=""><a class=" bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="service10.html">FLEXIBLE PAYMENT OPTIONS</a></li>
                        <li class=""><a class=" bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="service4.html">PARTNERS</a></li>
                        <li class=""><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="service3.html">CUSTOM WEB SOLUTIONS</a></li>
                    </ul>
                </div>
            </div>






            <div class="lg:flex flex-col lg:flex-row gap-5 lg:gap-14 hidden">
                <img src="~/img/logo.png" alt="" class="h-[100px]  py-2" />
            </div>

            <div class="flex flex-col lg:flex-row gap-5 lg:gap-14 items-center lg:text-white mt-5 lg:m-0">
                <div class="dropdown inline-block  relative z-[11]">
                    <button class="font-semibold py-2  rounded inline-flex items-center">
                        <a href=""><span class="mr-1 hover:text-[#B76E79] cursor-pointer font-semibold block">Education</span></a>
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /> </svg>
                    </button>
                    <ul class="dropdown-menu absolute hidden text-gray-700 pt-1 " style="width: max-content;">
                        <li class=""><a class="rounded-t-lg bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="education1.html">DIAMOND 4C'S</a></li>
                        <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="education2.html">HISTORY OF THE DIAMOND</a></li>
                        <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="education3.html">HOW DIAMONDS ARE FORMED</a></li>
                        <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="education4.html">DIAMOND CERTIFICATION</a></li>
                        <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="education5.html">FANCY COLOR DIAMONDS</a></li>
                        <li class=""><a class=" rounded-b-lg bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="education6.html">CONFLICT-FREE DIAMONDS</a></li>

                    </ul>
                </div>


                <div class="dropdown inline-block relative">
                    <button class="font-semibold py-2  rounded inline-flex items-center">
                        <a href=""><span class="mr-1 hover:text-[#B76E79] cursor-pointer font-semibold block">Contact</span></a>
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /> </svg>
                    </button>
                    <ul class="dropdown-menu absolute hidden text-gray-700 pt-1 " style="width: max-content;">
                        <li class=""><a class="rounded-t-lg bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="contact.html">CONTACT US</a></li>
                        <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="career.html">CAREER</a></li>
                        <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="signup.html">CREATE AN ACCOUNT</a></li>
                        <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="login.html">LOGIN</a></li>
                        <li class=""><a class="rounded-b-lg bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="passwordreset.html">FORGOT PASSWORD</a></li>

                    </ul>
                </div>

                <!-- <p class="hover:text-[#B76E79] cursor-pointer block font-semibold">Contact</p> -->
                <a href="login.html"><span class="mr-1 hover:text-[#B76E79] cursor-pointer font-semibold block">Login</span></a>
            </div>
        </nav>


        <!-- HERO containt  -->

        <div class="relative  ">
            <img src="~/img/light.png" alt="" class="w-screen max-h-[80px]" />
            <div class="absolute top-0 left-0 right-0 bottom-0 flex items-center md:px-24 px-5 justify-between">
                <p class="text-white text-center">DBS (DIAMOND BUYING SERVICE)</p>
                <p class="md:text-base text-sm text-[#A8A5A5]">
                    Home / <span class="text-white md:text-lg text-sm">DIAMOND BUYING</span>
                </p>
            </div>
        </div>

        <div class="grid lg:grid-cols-3 grid-cols-1 md:px-24 px-10 text-white md:gap-20 gap-10">
            <div class="grid-cols-1">
                <div class="box flex flex-col gap-[26px] p-10">
                    <p class="font-medium">
                        DBS IS YOUR BEST PARTNER FOR DIAMOND SELLING:
                    </p>
                    <p class="">
                        We buy recycled (as well as broken diamonds), polished diamonds in
                        all sizes & grades, either loose or in second-hand diamond
                        jewellery, From the very smallest size to the biggest size and
                        carat you have available.
                    </p>

                    <div class="">
                        <p class="text-xl font-medium">DBS is offering you:</p>
                        <li>Purchase of all sizes and qualities</li>
                        <li>Free and quick expert appraisal</li>
                        <li>Professional team worldwide</li>
                        <li>Highest prices paid</li>
                        <li>No obligation</li>
                        <li>Safe transactions</li>
                        <li>Swift, same day payment</li>
                    </div>

                    <p class="">
                        There is always a professional Polished Diamond Grader at our
                        disposal at our location in Antwerp (Diamond capital of the world)
                        and we export under supervision of the High Diamond Council (HRD)
                        and through the Diamond Office. Contact us by phone or through our
                        site. You can request an appraisal online, by phone or schedule an
                        in-person meeting.
                    </p>
                </div>
            </div>
            <div class="col-span-2">
                <p class="text-3xl font-medium py-3">UPLOAD DIAMONDS</p>
                <div class="downborder"></div>

                <div class="my-10 flex gap-10 border-b-2 py-2 border-b-[#565656]">
                    <p class="cursor-pointer hover:text-[#B76E79] font-semibold" onclick="openTab(event, 'tab1')">Single stone</p>
                    <p class="cursor-pointer hover:text-[#B76E79] font-semibold" onclick="openTab(event, 'tab2')">Multi stone</p>
                </div>

                <div class="tab-content" id="tab1">
                    <p class="text-xl font-semibold">SHAPE *</p>

                    <div class="xl:flex grid lg:grid-cols-6  grid-cols-4 gap-3 my-5">
                        <img src="~/img/1service.png" alt="" />
                        <img src="~/img/2service.png" alt="" />
                        <img src="~/img/3service.png" alt="" />
                        <img src="~/img/4service.png" alt="" />
                        <img src="~/img/5service.png" alt="" />
                        <img src="~/img/6service.png" alt="" />
                        <img src="~/img/7service.png" alt="" />
                        <img src="~/img/8service.png" alt="" />
                        <img src="~/img/3service.png" alt="" />
                        <img src="~/img/9service.png" alt="" />
                        <img src="~/img/10service.png" alt="" />
                        <img src="~/img/12service.png" alt="" />
                    </div>

                    <div class="flex flex-col gap-y-5">
                        <label for="" class="text-xl font-semibold">SIZE *</label>
                        <input type="text" class="py-3 w-[310px] px-3 text-black" />
                    </div>

                    <div class="flex flex-col gap-y-3 my-10">
                        <label for="" class="text-xl font-semibold">Color</label>
                        <div class="flex gap-3">
                            <div class="coloricon color h-[30px] w-[30px] flex items-center justify-center">
                                D
                            </div>
                            <div class="bg-black coloricon h-[30px] w-[30px] flex items-center justify-center">
                                E
                            </div>
                            <div class="bg-black coloricon h-[30px] w-[30px] flex items-center justify-center">
                                F
                            </div>
                            <div class="bg-black coloricon h-[30px] w-[30px] flex items-center justify-center">
                                G
                            </div>
                            <div class="bg-black coloricon h-[30px] w-[30px] flex items-center justify-center">
                                I
                            </div>
                            <div class="bg-black coloricon h-[30px] w-[30px] flex items-center justify-center">
                                J
                            </div>
                            <div class="bg-black coloricon h-[30px] w-[30px] flex items-center justify-center">
                                K
                            </div>
                            <div class="bg-black coloricon h-[30px] w-[30px] flex items-center justify-center">
                                L
                            </div>
                            <div class="bg-black coloricon h-[30px] w-[30px] flex items-center justify-center">
                                M
                            </div>
                            <div class="bg-black coloricon h-[30px] w-[30px] flex items-center justify-center">
                                N
                            </div>
                            <div class="bg-black coloricon h-[30px] w-[30px] flex items-center justify-center">
                                O
                            </div>
                            <div class="bg-black coloricon h-[30px] w-[48px] flex items-center justify-center">
                                p-z
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col gap-y-3 my-10">
                        <label for="" class="text-xl font-semibold">CLARITY/PURITY *</label>
                        <div class="flex gap-3">
                            <div class="coloricon color h-[30px] w-[50px] flex items-center justify-center">
                                FL
                            </div>
                            <div class="bg-black coloricon h-[30px] w-[50px] flex items-center justify-center">
                                IF
                            </div>
                            <div class="bg-black coloricon h-[30px] w-[50px] flex items-center justify-center">
                                VVS1
                            </div>
                            <div class="bg-black coloricon h-[30px] w-[50px] flex items-center justify-center">
                                VVS2
                            </div>
                            <div class="bg-black coloricon h-[30px] w-[50px] flex items-center justify-center">
                                VS1
                            </div>
                            <div class="bg-black coloricon h-[30px] w-[50px] flex items-center justify-center">
                                VS2
                            </div>
                            <div class="bg-black coloricon h-[30px] w-[50px] flex items-center justify-center">
                                S11
                            </div>
                            <div class="bg-black coloricon h-[30px] w-[50px] flex items-center justify-center">
                                S12
                            </div>
                            <div class="bg-black coloricon h-[30px] w-[50px] flex items-center justify-center">
                                S13
                            </div>
                        </div>
                    </div>

                    <p class="text-xl font-semibold">CERTIFICATE</p>
                    <div class="grid md:grid-cols-2 grid-cols-1 md:gap-20 gap-10 my-7">
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">LAB*</label>
                            <input type="text" class="py-3  px-3 text-black" />
                        </div>
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">CERTIFICATE NO *</label>
                            <input type="text" class="py-3 px-3 text-black" />
                        </div>

                    </div>
                    <p class="text-xl font-semibold">ASKING PRICE</p>
                    <div class="grid md:grid-cols-2 grid-cols-1 md:gap-20 gap-10 my-7">
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">PRICE *</label>
                            <input type="text" class="py-3  px-3 text-black" />
                        </div>
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">CURRENCY *</label>

                            <select id="dropdown" name="dropdown" class="block py-3 px-3 text-black  bg-white  ">
                                <option value="option1">USD</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                            </select>
                        </div>

                    </div>


                    <p class="text-xl font-semibold">LOCATION</p>
                    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-10 my-7">
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">CITY *</label>
                            <input type="text" class="py-3  px-3 text-black" />
                        </div>
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">STATE *</label>
                            <input type="text" class="py-3  px-3 text-black" />
                        </div>
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">COUNTRY *</label>

                            <select id="dropdown" name="dropdown" class="block py-3 px-3 text-black  bg-white  ">
                                <option value="option1">Please Select</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                            </select>
                        </div>

                    </div>



                    <p class="text-xl font-semibold">USER DETAIL</p>
                    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-10 my-7">
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">NAME *</label>
                            <input type="text" class="py-3 px-3 text-black" />
                        </div>
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">CONTACT NO. *</label>
                            <input type="text" class="py-3  px-3 text-black" />
                        </div>
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">EMAIL *</label>

                            <select id="dropdown" name="dropdown" class="block py-3 px-3 text-black bg-white  ">
                                <option value="option1">Please Select</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                            </select>
                        </div>

                    </div>

                    <div class="py-10">

                        <div class="grid md:grid-cols-2 grid-cols-1 md:gap-16 gap-10 my-7">

                            <div class="">
                                <label for="" class="">UPLOAD IMAGE OF DIAMOND</label>

                                <div class="flex flex-col bg-white text-black rounded-md items-center justify-center py-10 px-5 my-5">
                                    <img src="~/img/upload.png" alt="">
                                    <p class="py-5 font-bold">Drag & drop files or <span class="text-[#B76E79] border-b-2 font-semibold border-[#B76E79]">Browse</span> </p>
                                    <p class="text-xs text-[#676767]">Supported formates: JPEG, PNG, GIF, MP4, PDF, PSD, AI, Word, PPT</p>
                                </div>
                            </div>
                            <div class="">
                                <label for="" class="">UPLOAD CERTIFICATE IMAGE OF DIAMOND </label>

                                <div class="flex flex-col bg-white text-black rounded-md items-center justify-center py-10 px-5 my-5">
                                    <img src="~/img/upload.png" alt="">
                                    <p class="py-5 font-bold">Drag & drop files or <span class="text-[#B76E79] border-b-2 font-semibold border-[#B76E79]">Browse</span> </p>
                                    <p class="text-xs text-[#676767]">Supported formates: JPEG, PNG, GIF, MP4, PDF, PSD, AI, Word, PPT</p>
                                </div>
                            </div>

                        </div>



                        <div class="flex justify-end ">
                            <button class="px-6 py-3 text-base w-fit border border-[#B76E79] rounded-xl">
                                Upload Diamond
                            </button>
                        </div>
                    </div>










                </div>
                <div class="tab-content" id="tab2">
                    <p class="text-xl font-semibold">UPLOAD FILE</p>
                    <div class="flex flex-col bg-white text-black rounded-md items-center justify-center py-16 px-5 my-5">
                        <img src="~/img/upload.png" alt="">
                        <p class="py-5 font-bold">Drag & drop files or <span class="text-[#B76E79] border-b-2 font-semibold border-[#B76E79]">Browse</span> </p>
                        <p class="text-xs text-[#676767]">Supported formates: JPEG, PNG, GIF, MP4, PDF, PSD, AI, Word, PPT</p>
                    </div>


                    <p class="text-xl font-semibold pt-10">USER DETAIL</p>
                    <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-10 my-7">
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">NAME *</label>
                            <input type="text" class="py-3 px-3 text-black" />
                        </div>
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">CONTACT NO. *</label>
                            <input type="text" class="py-3  px-3 text-black" />
                        </div>
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">EMAIL *</label>

                            <select id="dropdown" name="dropdown" class="block py-3 px-3 text-black bg-white  ">
                                <option value="option1">Please Select</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                            </select>
                        </div>

                    </div>

                    <div class="flex justify-end ">
                        <button class="button px-[46px] py-[12px] my-10 text-lg border border-white">
                            Upload
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <!-- footer section  -->

        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-y-10 w-full lg:px-40 px-20 py-10 mt-20 justify-items-center">
            <div class="flex flex-col gap-y-7 ">
                <div class="flex flex-col">
                    <p class="text-[#B76E79] font-semibold">AM DIAM DMCC</p>
                    <p class="py-2 text-white">is represented by:</p>
                </div>
                <div class="">
                    <p class="text-[#B76E79] font-semibold">Headquarters</p>
                    <a href="" target="_blank" class="flex gap-3 py-3 ">
                        <i class="fas fa-solid fa-location-dot text-xl text-white"></i>


                        <p class="text-white hover:text-[#B76E79]">
                            46 A, ALMAS TOWER  <br>
                            JLT P.O. Box: 376531,  <br>
                            Dubai UAE
                        </p>
                    </a>

                    <a href="tel:+97145299683" class="flex gap-3 py-3">
                        <i class="fas fa-regular fa-phone text-white text-xl"></i>
                        <p class="text-lg text-white hover:text-[#B76E79]">+971 4 529 9683</p>
                    </a>




                    <div class="flex   gap-3 py-3">
                        <i class="fas fa-solid fa-envelope text-white text-xl"></i>
                        <div class="flex flex-col gap-y-2">
                            <a href="mailto: accounts@amdiamdmcc.com" target="_blank">
                                <p class="text-white  hover:text-[#B76E79] text-lg">accounts@amdiamdmcc.com</p>
                                <a href="mailto: info@amdiamdmcc.com" target="_blank"><p class="text-white  hover:text-[#B76E79] text-lg">info@amdiamdmcc.com</p> </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="flex flex-col ">
                <div class="flex items-start">
                    <p class="text-white font-semibold text-xl pb-7">Quick Links</p>
                </div>
                <div class="flex flex-col gap-y-4">
                    <div class="flex gap-3 items-center">
                        <i class="fas text-white fa-solid fa-chevron-right"></i>
                        <a href="Services/Index"><p class="text-[#E9E9E9] hover:text-[#B76E79]">DIAMOND BUYING</p></a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <i class="fas text-white fa-solid fa-chevron-right"></i>
                        <a href="service2.html">
                            <p class="text-[#E9E9E9] hover:text-[#B76E79]">DIAMOND SOURCING</p>
                        </a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <i class="fas text-white fa-solid fa-chevron-right"></i>
                        <a href="service1.html"><p class="text-[#E9E9E9] hover:text-[#B76E79]">DIAMOND SELLING</p></a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <i class="fas text-white fa-solid fa-chevron-right"></i>
                        <a href="service5.html">
                            <p class="text-[#E9E9E9] hover:text-[#B76E79]">MANUFACTURING</p>
                        </a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <i class="fas text-white fa-solid fa-chevron-right"></i>
                        <a href="service9.html"><p class="text-[#E9E9E9] hover:text-[#B76E79]">INVESTMENT DIAMOND</p></a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <i class="fas text-white fa-solid fa-chevron-right"></i>
                        <a href="education1.html"><p class="text-[#E9E9E9] hover:text-[#B76E79]">4C OF DIAMOND</p></a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <i class="fas text-white fa-solid fa-chevron-right"></i>
                        <a href="about.html"> <p class="text-[#E9E9E9] hover:text-[#B76E79]">ABOUT US</p></a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <i class="fas text-white fa-solid fa-chevron-right"></i>
                        <a href="career.html"><p class="text-[#E9E9E9] hover:text-[#B76E79]">CAREER</p></a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <i class="fas text-white fa-solid fa-chevron-right"></i>
                        <a href="contact.html"><p class="text-[#E9E9E9] hover:text-[#B76E79]">CONTACT</p></a>
                    </div>
                </div>
            </div>
            <div class="flex flex-col ">
                <p class="text-white font-semibold text-xl pb-7">Social Platform</p>

                <div class="flex flex-col gap-3">
                    <a href="https://www.facebook.com/profile.php?id=100095627850378" target="_blank"
                       class="flex gap-3 text-white hover:text-[#B76E79]">
                        <i class="fa-brands fa-facebook text-xl"></i>
                        <p class="">Facebook</p>
                    </a>
                    <a href="Services/Index"
                       class="flex gap-3 text-white hover:text-[#B76E79]">
                        <i class="fa-brands fa-pinterest text-xl"></i>
                        <p class="">Pinterest</p>
                    </a>
                    <a href="https://www.instagram.com/amdiamdmcc/" target="_blank"
                       class="flex gap-3 text-white hover:text-[#B76E79]">
                        <i class="fa-brands fa-instagram text-xl"></i>
                        <p class="">Instagram</p>
                    </a>
                    <a href="https://www.youtube.com/channel/UCXSNlDCCia8tjEXbMTgH9uQ" target="_blank"
                       class="flex gap-3 text-white hover:text-[#B76E79]">
                        <i class="fa-brands fa-youtube text-xl"></i>
                        <p class="">Youtube</p>
                    </a>



                </div>
            </div>
        </div>
    </div>

    <div class="py-3 bg-[#24101B] px-20">
        <p class="text-white font-medium">
            AM Diam | Copyrights © 2023 All Rights Reserved
        </p>
    </div>

    <!-- tab view js  -->
    <script>
      function openTab(evt, tabName) {
        var i, tabContent;
        tabContent = document.getElementsByClassName("tab-content");

        // Hide all tab content
        for (i = 0; i < tabContent.length; i++) {
          tabContent[i].style.display = "none";
        }

        // Show the selected tab content
        document.getElementById(tabName).style.display = "block";
      }

      // Show the first tab and hide the rest on page load
      window.addEventListener("DOMContentLoaded", function () {
        var tabContent = document.getElementsByClassName("tab-content");
        for (var i = 1; i < tabContent.length; i++) {
          tabContent[i].style.display = "none";
        }
      });
    </script>



    <!-- navbar javascript  -->
    <script>
    const button = document.querySelector("#menu-button");
    const menu = document.querySelector("#menu");

    button.addEventListener("click", () => {
      menu.classList.toggle("hidden");
    });
    </script>

    <!-- Tailwindcss Config -->
    <script>
      tailwind.config = {
        theme: {
          theme: {
            extends: {

              fontFamily: {
           'poppins': ['Poppins'],
        },
              screens: {
                @*sm: "640px",
                // => @media (min-width: 640px) { ... }

                md: "768px",
                // => @media (min-width: 768px) { ... }

                lg: "1024px",
                // => @media (min-width: 1024px) { ... }

                xl: "1280px",
                // => @media (min-width: 1280px) { ... }

                "2xl": "1536px",
                // => @media (min-width: 1536px) { ... }*@
              },
            },
          },
        },
      };
    </script>

    <!-- JS File -->
    <script src="~/js/main.js"></script>
</body>
</html>
