<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AM DIAM DMCC</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

    <!-- tailwinds css  -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="~/js/tailwind.config.js"></script>

    <!-- Fontawesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- css style  -->
    <link rel="stylesheet" href="~/css/style.css" />

    <style>
        /* CSS for active item */
        .active-item {
            background: linear-gradient( 90deg, #ca6b9d 0%, rgba(4, 2, 20, 0.38) 100% );
            width: 135px;
            height: 4px;
            flex-shrink: 0;
        }
    </style>
</head>
<body>
    <div class="bg-[#020014] ">
        <!-- navbar  -->

        <div class="flex lg:hidden sticky top-0 z-[11] bg-[#020014] items-center justify-between py-5 px-4">
            <p class="text-white lg:hidden">AHMD</p>
            <div class="bg-white lg:hidden flex text-black rounded-lg p-2"
                 id="menu-button">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-6 w-6 cursor-pointer lg:hidden block"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </div>
        </div>

        <nav class="z-10 lg:relative md:relative absolute top-20 md:top-3 py-7 lg:py-0 lg:top-0 bg-white lg:bg-[#020014] lg:flex hidden w-full justify-between items-center xl:px-40 lg:px-28 !selection:select-none"
             id="menu">
            <div class="flex flex-col lg:flex-row gap-5 lg:gap-14 items-center lg:text-white">
                <a href="~/home/index">
                    <p class="hover:text-[#B76E79] font-semibold cursor-pointer block">
                        Home
                    </p>
                </a>
                <a href="~/home/about">
                    <p class="hover:text-[#B76E79] cursor-pointer font-semibold block">
                        About
                    </p>
                </a>

                <div class="dropdown inline-block relative z-[111]">
                    <button class="font-semibold py-2 rounded inline-flex items-center">
                        <a href="~/Services/service1">
                            <span class="mr-1 hover:text-[#B76E79] cursor-pointer font-semibold block">Services</span>
                        </a>
                        <svg class="fill-current h-4 w-4"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                        </svg>
                    </button>
                    <ul class="dropdown-menu absolute hidden text-gray-700 pt-1"
                        style="width: max-content">
                        <li class="">
                            <a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/Services/service1">DIAMOND SELLING SERVICE</a>
                        </li>
                        <li class="">
                            <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/Services/service2">DIAMOND SOURCING SERVICE</a>
                        </li>
                        <li class="">
                            <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/Services/service5">DM (DIAMOND MANUFACTURING)</a>
                        </li>
                        <li class="">
                            <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/Services/service6">AM DIAM FINANCE</a>
                        </li>
                        <li class="">
                            <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/Services/service7">FREE APPRAISAL AND SHIPPING</a>
                        </li>
                        <li class="">
                            <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/Services/service8">SECURITY SEALS</a>
                        </li>
                        <li class="">
                            <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/Services/service9">INVESTMENT DIAMONDS</a>
                        </li>
                        <li class="">
                            <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/Services/service10">FLEXIBLE PAYMENT OPTIONS</a>
                        </li>
                        <li class="">
                            <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/Services/service4">PARTNERS</a>
                        </li>
                        <li class="">
                            <a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/Services/service3">CUSTOM WEB SOLUTIONS</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="lg:flex flex-col lg:flex-row gap-5 lg:gap-14 hidden">
                <img src="~/img/logo.png" alt="" class="h-[100px]  py-2" />
            </div>

            <div class="flex flex-col lg:flex-row gap-5 lg:gap-14 items-center lg:text-white mt-5 lg:m-0">
                <div class="dropdown inline-block relative z-[11]">
                    <button class="font-semibold py-2 rounded inline-flex items-center">
                        <a href="">
                            <span class="mr-1 hover:text-[#B76E79] cursor-pointer font-semibold block">Education</span>
                        </a>
                        <svg class="fill-current h-4 w-4"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                        </svg>
                    </button>
                    <ul class="dropdown-menu absolute hidden text-gray-700 pt-1"
                        style="width: max-content">
                        <li class="">
                            <a class="rounded-t-lg bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/Education/Education1">DIAMOND 4C'S</a>
                        </li>
                        <li class="">
                            <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/Education/Education2">HISTORY OF THE DIAMOND</a>
                        </li>
                        <li class="">
                            <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/Education/Education3">HOW DIAMONDS ARE FORMED</a>
                        </li>
                        <li class="">
                            <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/Education/Education4">DIAMOND CERTIFICATION</a>
                        </li>
                        <li class="">
                            <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/Education/Education5">FANCY COLOR DIAMONDS</a>
                        </li>
                        <li class="">
                            <a class="rounded-b-lg bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/Education/Education6">CONFLICT-FREE DIAMONDS</a>
                        </li>
                    </ul>
                </div>

                <div class="dropdown inline-block relative">
                    <button class="font-semibold py-2 rounded inline-flex items-center">
                        <a href="~/contact/contact">
                            <span class="mr-1 lg:text-[#B76E79] cursor-pointer font-semibold block">Contact</span>
                        </a>
                        <svg class="fill-current h-4 w-4"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                        </svg>
                    </button>
                    <ul class="dropdown-menu absolute hidden text-gray-700 pt-1"
                        style="width: max-content">
                        <li class="">
                            <a class="rounded-t-lg bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/contact/contact">CONTACT US</a>
                        </li>
                        <li class="">
                            <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/contact/career">CAREER</a>
                        </li>
                        <li class="">
                            <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/contact/signup">CREATE AN ACCOUNT</a>
                        </li>
                        <li class="">
                            <a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/contact/login">LOGIN</a>
                        </li>
                        <li class="">
                            <a class="rounded-b-lg bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap"
                               href="~/contact/forgotpassword">FORGOT PASSWORD</a>
                        </li>
                    </ul>
                </div>

                <!-- <p class="hover:text-[#B76E79] cursor-pointer block font-semibold">Contact</p> -->
                <a href="~/contact/login"><span class="mr-1 hover:text-[#B76E79] cursor-pointer font-semibold block">Login</span></a>
            </div>
        </nav>

        <!-- HERO containt  -->

        <div class="relative w-full">
            <img src="~/img/light.png" alt="" class="w-screen max-h-[80px]" />
            <div class="absolute top-0 left-0 right-0 bottom-0 flex items-center md:px-24 px-5 justify-between">
                <p class="text-white text-center">CREATE AN ACCOUNT</p>
                <p class="md:text-base text-sm text-[#A8A5A5]">
                    Home /
                    <span class="text-white md:text-lg text-sm">CREATE AN ACCOUNT</span>
                </p>
            </div>
        </div>

        <div class="md:px-28 px-10 my-10 text-white">
            <div class="grid lg:grid-cols-2 grid-cols-1 gap-5 gap-y-7 my-10">


                <div class="">
                    <p class="text-3xl font-semibold">PERSONAL DETAILS</p>

                    <div class="mt-10">
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">CONTACT PERSON * :</label>

                            <div class="grid md:grid-cols-2 grid-cols-1 gap-5 md:gap-y-5 gap-y-7 text-black">
                                <div class="flex flex-col gap-y-3">
                                    <select id="dropdown"
                                            name="dropdown"
                                            class="block py-3 px-3 text-black w-full bg-white rounded">
                                        <option value="option1">Select One</option>
                                        <option value="option2">Option 2</option>
                                        <option value="option3">Option 3</option>
                                    </select>
                                </div>

                                <input type="text"
                                       class="py-3 px-3 text-black rounded"
                                       placeholder="Full Name" />
                            </div>
                        </div>
                    </div>
                </div>



                <div class="">
                    <p class="text-3xl font-semibold">BUSINESS DETAILS</p>
                    <div class="mt-10">
                        <div class="grid md:grid-cols-2 grid-cols-1 gap-5">
                            <div class="flex flex-col gap-y-3">
                                <label for="" class="text-base font-semibold">COMPANY NAME * :</label>
                                <input type="text"
                                       class="py-3 px-3 text-black rounded"
                                       placeholder="Name" />
                            </div>
                            <div class="flex flex-col gap-y-3">
                                <label for="" class="text-base font-semibold">WEBSITE</label>
                                <input type="url"
                                       class="py-3 px-3 text-black rounded"
                                       placeholder="Website Address" />
                            </div>
                        </div>
                    </div>
                </div>



                <div class="">
                    <div class="grid md:grid-cols-2 grid-cols-1 gap-5">
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">GENDER:</label>

                            <select id="dropdown"
                                    name="dropdown"
                                    class="block py-3 px-3 text-black w-full bg-white rounded">
                                <option value="option1">Select One</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                            </select>
                        </div>
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">BIRTH DATE:</label>
                            <input type="date"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="Birth Date" />
                        </div>
                    </div>
                </div>



                <div class="">
                    <div class="grid md:grid-cols-2 grid-cols-1 gap-5">
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">VAT NO :</label>
                            <input type="number"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="Vat Number" />

                        </div>
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">CONTACT NUMBER * :</label>
                            <input type="tel"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="Office No." />
                        </div>
                    </div>
                </div>


                <div class="">
                    <div class="grid grid-cols-2 gap-5">
                        <div class="flex flex-col col-span-2 gap-y-3">
                            <label for="" class="text-base font-semibold">ANNIVERSARY DATE:</label>
                            <input type="text"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="Anniversary Date" />

                        </div>

                    </div>
                </div>


                <div class="">
                    <div class="grid md:grid-cols-2 grid-cols-1 gap-5">
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">CITY * :</label>
                            <input type="text"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="City" />

                        </div>
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">STATE * :</label>
                            <input type="text"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="State" />
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="flex flex-col gap-y-3">
                        <label for="" class="text-base font-semibold">CONTACT NUMBER:</label>

                        <div class="grid md:grid-cols-2 grid-cols-1 gap-5 md:gap-y-5 gap-y-7 text-black">
                            <input type="tel"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="Mobile" />

                            <input type="tel"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="Residential" />
                        </div>
                    </div>
                </div>

                <div class="">
                    <div class="grid md:grid-cols-2 grid-cols-1 gap-5">
                        <div class="flex flex-col col-span-2 gap-y-3">
                            <label for="" class="text-base font-semibold">COMPANY ADDRESS * :</label>
                            <input type="text"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="Address" />

                        </div>

                    </div>
                </div>


                <div class="">
                    <div class="grid md:grid-cols-2 grid-cols-1 gap-5">
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">EMAIL ID * :</label>
                            <input type="email"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="Primary" />
                        </div>
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">PERSONAL ADDRESS:</label>
                            <input type="text"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="Personal Address" />
                        </div>
                    </div>
                </div>


                <div class="">
                    <div class="grid md:grid-cols-2 grid-cols-1 gap-5">
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">COUNTRY * :</label>

                            <select id="dropdown"
                                    name="dropdown"
                                    class="block py-3 px-3 text-black w-full bg-white rounded">
                                <option value="option1">Please Select</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                            </select>
                        </div>
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">ZIP CODE * :</label>
                            <input type="number"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="ZipCode" />
                        </div>
                    </div>
                </div>



                <div class="flex flex-col gap-y-5">
                    <div class="grid md:grid-cols-2 grid-cols-1 gap-5">
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">CITY * :</label>
                            <input type="text"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="City" />

                        </div>
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">STATE * :</label>
                            <input type="text"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="State" />
                        </div>
                    </div>
                    <div class="grid md:grid-cols-2 grid-cols-1 gap-5">
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">COUNTRY * :</label>

                            <select id="dropdown"
                                    name="dropdown"
                                    class="block py-3 px-3 text-black w-full bg-white rounded">
                                <option value="option1">Please Select</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                            </select>
                        </div>
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">ZIP CODE * :</label>
                            <input type="number"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="ZipCode" />
                        </div>
                    </div>

                    <div class="flex gap-5 items-center text-white">
                        <input type="checkbox" name="" id="" class="h-5 w-5" checked>
                        <p class="text-base font-light">
                            USE THIS ADDRESS AS BUSINESS ADDRESS, BILLING ADDRESS &
                            THIRD PARTY REFERENCE ADDRESS.
                        </p>
                    </div>
                </div>





            </div>















            <div class="grid lg:grid-cols-2 grid-cols-1 gap-5 gap-y-7 my-20">


                <div class="div1">




                    <p class="text-3xl font-semibold">PURCHASE INFORMATION</p>

                    <div class="mt-10">
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">BILLING ADDRESS * :</label>

                            <div class="flex gap-5 items-center text-white">
                                <input type="checkbox" name="" id="" class="h-4 w-4">
                                <p class="text-base font-light">SAME AS COMPNAY ADDRESS.</p>
                            </div>

                            <div class="grid md:grid-cols-2 grid-cols-1 gap-5 my-7">
                                <div class="flex flex-col gap-y-3">
                                    <label for="" class="text-base font-semibold">CITY * :</label>
                                    <input type="text"
                                           class="py-3 px-3 text-black rounded"
                                           placeholder="City" />

                                </div>
                                <div class="flex flex-col gap-y-3">
                                    <label for="" class="text-base font-semibold">STATE * :</label>
                                    <input type="text"
                                           class="py-3 px-3 text-black rounded"
                                           placeholder="State" />
                                </div>
                            </div>


                            <div class="flex flex-col gap-y-3">
                                <label for="" class="text-base font-semibold">COMPANY ADDRESS * :</label>
                                <input type="text"
                                       class="py-3 px-3 text-black rounded"
                                       placeholder="Address" />
                            </div>


                            <div class="grid md:grid-cols-2 grid-cols-1 gap-5 my-7">
                                <div class="flex flex-col gap-y-3">
                                    <label for="" class="text-base font-semibold">COUNTRY * :</label>

                                    <select id="dropdown"
                                            name="dropdown"
                                            class="block py-3 px-3 text-black w-full bg-white rounded">
                                        <option value="option1">Please Select</option>
                                        <option value="option2">Option 2</option>
                                        <option value="option3">Option 3</option>
                                    </select>
                                </div>
                                <div class="flex flex-col gap-y-3">
                                    <label for="" class="text-base font-semibold">ZIP CODE * :</label>
                                    <input type="text"
                                           class="py-3 px-3 text-black rounded"
                                           placeholder="Zipcode" />
                                </div>
                            </div>



                        </div>
                    </div>






                    <div class="mt-10">
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">SHIPPING ADDRESS * :</label>

                            <div class="flex gap-5 items-center text-white">
                                <input type="checkbox" name="" id="" class="h-4 w-4">
                                <p class="text-base font-light">SAME AS COMPNAY ADDRESS.</p>
                            </div>

                            <div class="grid md:grid-cols-2 grid-cols-1 gap-5 my-7">
                                <div class="flex flex-col gap-y-3">
                                    <label for="" class="text-base font-semibold">CITY * :</label>
                                    <input type="text"
                                           class="py-3 px-3 text-black rounded"
                                           placeholder="City" />

                                </div>
                                <div class="flex flex-col gap-y-3">
                                    <label for="" class="text-base font-semibold">STATE * :</label>
                                    <input type="text"
                                           class="py-3 px-3 text-black rounded"
                                           placeholder="State" />
                                </div>
                            </div>


                            <div class="flex flex-col gap-y-3">
                                <label for="" class="text-base font-semibold">COMPANY ADDRESS * :</label>
                                <input type="text"
                                       class="py-3 px-3 text-black rounded"
                                       placeholder="Address" />
                            </div>


                            <div class="grid md:grid-cols-2 grid-cols-1 gap-5 my-7">
                                <div class="flex flex-col gap-y-3">
                                    <label for="" class="text-base font-semibold">COUNTRY * :</label>

                                    <select id="dropdown"
                                            name="dropdown"
                                            class="block py-3 px-3 text-black w-full bg-white rounded">
                                        <option value="option1">Please Select</option>
                                        <option value="option2">Option 2</option>
                                        <option value="option3">Option 3</option>
                                    </select>
                                </div>
                                <div class="flex flex-col gap-y-3">
                                    <label for="" class="text-base font-semibold">ZIP CODE * :</label>
                                    <input type="text"
                                           class="py-3 px-3 text-black rounded"
                                           placeholder="Zipcode" />
                                </div>
                            </div>



                        </div>
                    </div>


                </div>


                <div class="div2">

                    <p class="text-3xl font-semibold">THIRD PARTY REFERENCE</p>

                    <div class="grid md:grid-cols-2 grid-cols-1 gap-5 my-10">
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold"> NAME :</label>
                            <input type="text"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="Name" />

                        </div>
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">CONTACT NUMBER :</label>
                            <input type="text"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="Contact Number" />
                        </div>
                    </div>


                    <div class="grid md:grid-cols-2 grid-cols-1 gap-5 my-10">
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold"> CITY:</label>
                            <input type="text"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="City" />

                        </div>
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">STATE :</label>
                            <input type="text"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="State" />
                        </div>
                    </div>

                    <div class="flex flex-col gap-y-3">
                        <label for="" class="text-base font-semibold">REFERENCE ADDRESS:</label>
                        <input type="text"
                               class="py-3 px-3 text-black rounded"
                               placeholder="Address" />
                    </div>

                    <div class="grid md:grid-cols-2 grid-cols-1 gap-5 my-7">
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">COUNTRY * :</label>

                            <select id="dropdown"
                                    name="dropdown"
                                    class="block py-3 px-3 text-black w-full bg-white rounded">
                                <option value="option1">Please Select</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                            </select>
                        </div>
                        <div class="flex flex-col gap-y-3">
                            <label for="" class="text-base font-semibold">ZIP CODE * :</label>
                            <input type="text"
                                   class="py-3 px-3 text-black rounded"
                                   placeholder="Zipcode" />
                        </div>
                    </div>


                </div>



            </div>


            <div class="">
                <p class="text-3xl font-semibold">DESIRED LOGIN NAME</p>


                <div class="grid lg:grid-cols-2 grid-cols-1 gap-10 gap-y-7 my-10">


                    <div class="flex flex-col gap-y-3">
                        <label for="" class="text-base font-semibold">USERNAME * :</label>
                        <input type="text"
                               class="py-3 px-3 text-black  rounded outline-none"
                               placeholder="Username" />
                    </div>

                    <div class="flex flex-col gap-y-3">
                        <label for="" class="text-base font-semibold">PASSWORD * :</label>
                        <div class="bg-white flex items-center gap-4  rounded">
                            <input type="password"
                                   class="py-3 px-3 text-black outline-none w-full rounded  "
                                   placeholder="Enter Password" /><i class="fas fa-solid  px-2 fa-eye text-black"></i>


                        </div>
                    </div>



                </div>

                <div class="flex justify-end ">
                    <button class=" px-6 py-3 text-base w-fit border border-[#B76E79] rounded-xl">
                        Upload Diamond
                    </button>
                </div>


                <div class="grid lg:grid-cols-2 grid-cols-1 gap-10 gap-y-7 my-10">


                    <div class="flex flex-col gap-y-3">
                        <label for="" class="text-base font-semibold">
                            PHOTO IDENTITY PROOF <br> (ANY VALID IMAGE, PRESS CTRL TO
                            SELECT MULTIPLE FILES) *:
                        </label>

                        <div class="bg-white rounded py-7 my-3 text-black flex items-center justify-center">
                            <div class="flex gap-3 items-center">
                                <i class="fas fa-solid fa-upload"></i>
                                <p class="text-base font-normal">Browse files</p>
                            </div>
                        </div>

                    </div>

                    <div class="flex flex-col gap-y-3">
                        <label for="" class="text-base font-semibold">
                            KYC UPLOAD <br>(VALID FORMAT DOCX, PDF, PRESS CTRL TO SELECT
                            MULTIPLE FILES) *:
                        </label>
                        <div class="bg-white rounded py-7 my-3 text-black flex items-center justify-center">
                            <div class="flex gap-3 items-center">
                                <i class="fas fa-solid fa-upload"></i>
                                <p class="text-base font-normal">Browse files</p>
                            </div>
                        </div>
                    </div>


                    <div class="flex flex-col gap-y-3">
                        <label for="" class="text-base font-semibold">CURRENCY PREFERRED * :</label>

                        <select id="dropdown"
                                name="dropdown"
                                class="block py-3 px-3 text-black w-full bg-white rounded">
                            <option value="option1">USD</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                        </select>

                        <div class="my-5 flex flex-col gap-y-2">
                            <div class="flex gap-5 items-center text-white">
                                <input type="checkbox" name="" id="" class="h-4 w-4">
                                <p class="text-base font-light"> I have Read & Agree to the Arhaan Diamond Terms & Conditions</p>
                            </div>    <div class="flex gap-5 items-center text-white">
                                <input type="checkbox" name="" id="" class="h-4 w-4">
                                <p class="text-base font-light"> I have Read & Agree to the Arhaan Diamond Terms & Conditions</p>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="flex justify-end ">
                    <button class="px-6 py-3 text-base w-fit border border-[#B76E79] rounded-xl">
                        Submit Form
                    </button>
                </div>

            </div>

            <!-- footer section  -->


            <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-y-10 w-full   py-10 mt-20 justify-items-center">
                <div class="flex flex-col gap-y-7 ">
                    <div class="flex flex-col">
                        <p class="text-[#B76E79] font-semibold">AM DIAM DMCC</p>
                        <p class="py-2 text-white">is represented by:</p>
                    </div>
                    <div class="">
                        <p class="text-[#B76E79] font-semibold">Headquarters</p>
                        <a href="" target="_blank" class="flex gap-3 py-3 ">
                            <i class="fas fa-solid fa-location-dot text-xl text-white"></i>


                            <p class="text-white hover:text-[#B76E79]">
                                46 A, ALMAS TOWER  <br>
                                JLT P.O. Box: 376531,  <br>
                                Dubai UAE
                            </p>
                        </a>

                        <a href="tel:+97145299683" class="flex gap-3 py-3">
                            <i class="fas fa-regular fa-phone text-white text-xl"></i>
                            <p class="text-lg text-white hover:text-[#B76E79]">+971 4 529 9683</p>
                        </a>




                        <div class="flex   gap-3 py-3">
                            <i class="fas fa-solid fa-envelope text-white text-xl"></i>
                            <div class="flex flex-col gap-y-2">
                                <a href="mailto: accounts@amdiamdmcc.com" target="_blank">
                                    <p class="text-white  hover:text-[#B76E79] text-lg">accounts@amdiamdmcc.com</p>
                                    <a href="mailto: info@amdiamdmcc.com" target="_blank"><p class="text-white  hover:text-[#B76E79] text-lg">info@amdiamdmcc.com</p> </a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="flex flex-col ">
                    <div class="flex items-start">
                        <p class="text-white font-semibold text-xl pb-7">Quick Links</p>
                    </div>
                    <div class="flex flex-col gap-y-4">
                        <div class="flex gap-3 items-center">
                            <i class="fas text-white fa-solid fa-chevron-right"></i>
                            <a href="~/Services/service1"><p class="text-[#E9E9E9] hover:text-[#B76E79]">DIAMOND BUYING</p></a>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fas text-white fa-solid fa-chevron-right"></i>
                            <a href="~/Services/service2">
                                <p class="text-[#E9E9E9] hover:text-[#B76E79]">DIAMOND SOURCING</p>
                            </a>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fas text-white fa-solid fa-chevron-right"></i>
                            <a href="~/Services/service1"><p class="text-[#E9E9E9] hover:text-[#B76E79]">DIAMOND SELLING</p></a>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fas text-white fa-solid fa-chevron-right"></i>
                            <a href="~/Services/service5">
                                <p class="text-[#E9E9E9] hover:text-[#B76E79]">MANUFACTURING</p>
                            </a>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fas text-white fa-solid fa-chevron-right"></i>
                            <a href="~/Services/service9"><p class="text-[#E9E9E9] hover:text-[#B76E79]">INVESTMENT DIAMOND</p></a>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fas text-white fa-solid fa-chevron-right"></i>
                            <a href="~/Education/Education1"><p class="text-[#E9E9E9] hover:text-[#B76E79]">4C OF DIAMOND</p></a>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fas text-white fa-solid fa-chevron-right"></i>
                            <a href="~/home/about"> <p class="text-[#E9E9E9] hover:text-[#B76E79]">ABOUT US</p></a>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fas text-white fa-solid fa-chevron-right"></i>
                            <a href="~/contact/career"><p class="text-[#E9E9E9] hover:text-[#B76E79]">CAREER</p></a>
                        </div>
                        <div class="flex gap-3 items-center">
                            <i class="fas text-white fa-solid fa-chevron-right"></i>
                            <a href="~/contact/contact"><p class="text-[#E9E9E9] hover:text-[#B76E79]">CONTACT</p></a>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col ">
                    <p class="text-white font-semibold text-xl pb-7">Social Platform</p>

                    <div class="flex flex-col gap-3">
                        <a href="https://www.facebook.com/profile.php?id=100095627850378" target="_blank"
                           class="flex gap-3 text-white hover:text-[#B76E79]">
                            <i class="fa-brands fa-facebook text-xl"></i>
                            <p class="">Facebook</p>
                        </a>
                        <a href="~/home/index"
                           class="flex gap-3 text-white hover:text-[#B76E79]">
                            <i class="fa-brands fa-pinterest text-xl"></i>
                            <p class="">Pinterest</p>
                        </a>
                        <a href="https://www.instagram.com/amdiamdmcc/" target="_blank"
                           class="flex gap-3 text-white hover:text-[#B76E79]">
                            <i class="fa-brands fa-instagram text-xl"></i>
                            <p class="">Instagram</p>
                        </a>
                        <a href="https://www.youtube.com/channel/UCXSNlDCCia8tjEXbMTgH9uQ" target="_blank"
                           class="flex gap-3 text-white hover:text-[#B76E79]">
                            <i class="fa-brands fa-youtube text-xl"></i>
                            <p class="">Youtube</p>
                        </a>



                    </div>
                </div>
            </div>
        </div>

        <div class="py-3 bg-[#24101B] px-20">
            <p class="text-white font-medium">
                AM Diam | Copyrights © 2023 All Rights Reserved
            </p>
        </div>

        <!-- navbar javascript  -->
        <script>
      const button = document.querySelector("#menu-button");
      const menu = document.querySelector("#menu");

      button.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
        </script>

        <!-- Tailwindcss Config -->
        <script>
      tailwind.config = {
        theme: {
          theme: {
            extends: {

              fontFamily: {
           'poppins': ['Poppins'],
        },
              screens: {
                @*sm: "640px",
                // => @media (min-width: 640px) { ... }

                md: "768px",
                // => @media (min-width: 768px) { ... }

                lg: "1024px",
                // => @media (min-width: 1024px) { ... }

                xl: "1280px",
                // => @media (min-width: 1280px) { ... }

                "2xl": "1536px",
                // => @media (min-width: 1536px) { ... }*@
              },
            },
          },
        },
      };
        </script>

        <!-- JS File -->
        <script src="~/js/main.js"></script>
</body>
</html>
