<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AM DIAM DMCC</title>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

    <!-- tailwinds css  -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src=".~/js/tailwind.config.js"></script>

    <!-- Fontawesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- css style  -->
    <link rel="stylesheet" href="~/css/style.css" />

    <style>
        /* CSS for active item */
        .active-item {
            background: linear-gradient( 90deg, #ca6b9d 0%, rgba(4, 2, 20, 0.38) 100% );
            width: 135px;
            height: 4px;
            flex-shrink: 0;
        }
    </style>
</head>
<body>
    <div class="bg-[#020014]">
        <!-- navbar  -->

        <div class="flex lg:hidden sticky top-0 z-[11] bg-[#020014] items-center justify-between py-5 px-4">
            <p class="text-white lg:hidden">AHMD</p>
            <div class="bg-white lg:hidden flex text-black rounded-lg p-2" id="menu-button">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-6 w-6 cursor-pointer lg:hidden block"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor">
                    <path stroke-linecap="round"
                          stroke-linejoin="round"
                          stroke-width="2"
                          d="M4 6h16M4 12h16M4 18h16" />
                </svg>
            </div>
        </div>

        <nav class="z-10 lg:relative md:relative absolute top-20 md:top-3 py-7 lg:py-0 lg:top-0 bg-white lg:bg-[#020014] lg:flex hidden w-full justify-between items-center xl:px-40 lg:px-28 !selection:select-none"
             id="menu">
            <div class="flex flex-col lg:flex-row gap-5 lg:gap-14 items-center lg:text-white">
                <a href="~/home/Index"> <p class=" hover:text-[#B76E79] font-semibold cursor-pointer block">Home</p></a>
                <a href="~/home/about"><p class="hover:text-[#B76E79] cursor-pointer font-semibold block">About</p></a>


                <div class="dropdown inline-block relative z-[111]">
                    <button class="font-semibold py-2  rounded inline-flex items-center">
                        <a href="service.html"><span class="mr-1 hover:text-[#B76E79] cursor-pointer font-semibold block">Services</span></a>
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /> </svg>
                    </button>
                    <ul class="dropdown-menu absolute hidden text-gray-700 pt-1 " style="width: max-content;">
                        <li class=""><a class="rounded-t bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="~/Services/service1.html">DIAMOND SELLING SERVICE</a></li>
                        <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="~/Services/service2">DIAMOND SOURCING SERVICE</a></li>
                        <li class=""><a class=" bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="~/Services/service5">DM (DIAMOND MANUFACTURING)</a></li>
                        <li class=""><a class=" bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="~/Services/service6">AM DIAM FINANCE</a></li>
                        <li class=""><a class=" bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="~/Services/service7">FREE APPRAISAL AND SHIPPING</a></li>
                        <li class=""><a class=" bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="~/Services/service8">SECURITY SEALS</a></li>
                        <li class=""><a class=" bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="~/Services/service9">INVESTMENT DIAMONDS</a></li>
                        <li class=""><a class=" bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="~/Services/service10">FLEXIBLE PAYMENT OPTIONS</a></li>
                        <li class=""><a class=" bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="~/Services/service4">PARTNERS</a></li>
                        <li class=""><a class="rounded-b bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="~/Services/service3">CUSTOM WEB SOLUTIONS</a></li>
                    </ul>
                </div>
            </div>






            <div class="lg:flex flex-col lg:flex-row gap-5 lg:gap-14 hidden">
                <img src="~/img/logo.png" alt="" class="h-[100px]  py-2" />
            </div>

            <div class="flex flex-col lg:flex-row gap-5 lg:gap-14 items-center lg:text-white mt-5 lg:m-0">
                <div class="dropdown inline-block  relative z-[11]">
                    <button class="font-semibold py-2  rounded inline-flex items-center">
                        <a href=""><span class="mr-1 lg:text-[#B76E79] cursor-pointer font-semibold block">Education</span></a>
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /> </svg>
                    </button>
                    <ul class="dropdown-menu absolute hidden text-gray-700 pt-1 " style="width: max-content;">
                        <li class=""><a class="rounded-t-lg bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="~/Education/Education1">DIAMOND 4C'S</a></li>
                        <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="education2.html">HISTORY OF THE DIAMOND</a></li>
                        <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="education3.html">HOW DIAMONDS ARE FORMED</a></li>
                        <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="education4.html">DIAMOND CERTIFICATION</a></li>
                        <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="education5.html">FANCY COLOR DIAMONDS</a></li>
                        <li class=""><a class=" rounded-b-lg bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="education6.html">CONFLICT-FREE DIAMONDS</a></li>

                    </ul>
                </div>


                <div class="dropdown inline-block relative">
                    <button class="font-semibold py-2  rounded inline-flex items-center">
                        <a href=""><span class="mr-1 hover:text-[#B76E79] cursor-pointer font-semibold block">Contact</span></a>
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" /> </svg>
                    </button>
                    <ul class="dropdown-menu absolute hidden text-gray-700 pt-1 " style="width: max-content;">
                        <li class=""><a class="rounded-t-lg bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="contact.html">CONTACT US</a></li>
                        <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="career.html">CAREER</a></li>
                        <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="signup.html">CREATE AN ACCOUNT</a></li>
                        <li class=""><a class="bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="login.html">LOGIN</a></li>
                        <li class=""><a class="rounded-b-lg bg-gray-200 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="passwordreset.html">FORGOT PASSWORD</a></li>

                    </ul>
                </div>

                <!-- <p class="hover:text-[#B76E79] cursor-pointer block font-semibold">Contact</p> -->
                <a href="login.html"><span class="mr-1 hover:text-[#B76E79] cursor-pointer font-semibold block">Login</span></a>
            </div>
        </nav>

        <!-- HERO containt  -->

        <div class="relative w-full ">
            <img src="~/img/light.png" alt="" class="w-screen max-h-[80px]" />
            <div class="absolute top-0 left-0 right-0 bottom-0 flex items-center md:px-28 px-5 justify-between">
                <p class="text-white text-center">DIAMOND 4C'S</p>
                <p class="md:text-base text-sm text-[#A8A5A5]">
                    Home /
                    <span class="text-white md:text-lg text-sm">DIAMOND 4C'S</span>
                </p>
            </div>
        </div>

        <div class="md:px-28 px-10 my-10">
            <div class="flex flex-col gap-y-10 text-white">
                <div class="flex flex-col gap-y-5">
                    <p class="text-3xl font-semibold">THE FOUR C'S OF DIAMONDS</p>

                    <p class="text-base font-normal">
                        When you are planning on purchasing a diamond it is important that
                        you know as much as possible about how diamonds are classified.
                        There are four topics you need to become familiar with: cut,
                        color, clarity, and carat weight.
                    </p>
                </div>
                <div class="flex flex-col gap-y-5 py-7">
                    <p class="text-3xl font-semibold">DIAMOND CUT</p>

                    <p class="text-base font-normal">
                        When we speak of cut we are more interested in the proportions of the diamond as opposed to its shape (Round Brilliant,
                        Marquise, Pear, Princess, etc.) Every diamond regardless of its shape gets it brilliancy and scintillation by cutting and
                        polishing the diamond facets to allow the maximum amount of light that enters through its top to be reflected and dispersed
                        back through its top.
                    </p>
                    <p class="text-base font-normal">
                        As you can see if the angles are correct the light that enters is dispersed properly back through the diamond's top facets. When a stone is cut too shallow or too deep the light that enters through the top is allowed to escape through the diamond's bottom and does not allow the maximum beauty of the diamond to be realized.
                    </p>
                </div>


                <div class="grid lg:grid-cols-9 md:grid-cols-6 grid-cols-4  gap-5 ">
                    <div class="">
                        <img src="~/img/dm1.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dm2.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dm3.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dm4.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dm5.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dm6.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dm7.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dm8.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dm9.png" alt="">
                    </div>
                </div>

                <div class="flex flex-col gap-y-5 py-7">
                    <p class="text-3xl font-semibold">DIAMOND COLOR</p>

                    <p class="text-base font-normal">
                        Diamonds come naturally in every color of the rainbow. However most people are concerned with diamonds in the white range. The Gemological Institute of America (GIA) rates the body color in white diamonds from D (colorless) to Z (light yellow).
                    </p>
                    <p class="text-base font-normal">
                        The best color for a diamond is no color at all. A totally colorless diamond allows light to pass through it easily, resulting in the light being dispersed as the color of the rainbow. Colors are graded totally colorless to light yellow. The differences from one grade to the other are very subtle and it takes a trained eye and years of experience to color grade a diamond.
                    </p>
                </div>


                <div class="grid lg:grid-cols-6 md:grid-cols-4 grid-cols-3  gap-5 ">
                    <div class="">
                        <img src="~/img/asset 11.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/asset 12.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/asset 13.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/asset 14.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/asset 15.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/asset 16.png" alt="">
                    </div>

                </div>

                <div class="flex flex-col gap-y-5 py-7">
                    <p class="text-3xl font-semibold">DIAMOND CLARITY CHART</p>

                    <p class="text-base font-normal">
                        The clarity of a diamond is determined by the amount and location of flaws, or blemishes, in the diamond when viewed under 10 power (10x) magnification. GIA rates clarity grades in diamonds from Flawless (FL-IF) to Imperfect 3 (I3).
                    </p>
                    <p class="text-base font-normal">
                        Most diamonds contain very tiny birthmarks known as "inclusions." An inclusion can interfere with the light passing through the diamond. The fewer the inclusions, the more beautiful the diamond will be.
                    </p>
                    <p class="text-base font-normal">
                        Diamonds have the capability of producing more brilliance than any other gemstone. A diamond that is free of inclusions and surface blemishes is very rare and therefore very valuable.
                    </p>
                </div>

                <div class="grid lg:grid-cols-9 md:grid-cols-6 grid-cols-4  gap-5 ">
                    <div class="">
                        <img src="~/img/dc1.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dc2.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dc3.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dc4.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dc5.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dc6.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dc7.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dc8.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dc9.png" alt="">
                    </div>
                </div>

                <div class="flex flex-col gap-y-5 py-7">
                    <p class="text-3xl font-semibold">DIAMOND CARAT-WEIGHT</p>

                    <p class="text-base font-normal">
                        The weight of a diamond is measured in carats. As the carat weight of a diamond increases so does its rarity and therefore its price.
                    </p>
                    <p class="text-base font-normal">
                        One carat is divided into 100 "points," so that a diamond of 75 points weights .75 carats. The carat-weight of a diamond is the easiest measurement to determine. Most importantly, two diamonds can be of equal carat-weight, but their value can differ greatly due to their cut, color, and clarity.
                    </p>
                    <p class="text-base font-normal">
                        Don't rush into your diamond purchase. Take your time and evaluate your choice carefully. It took billions (yes, billions) of years for nature to form your diamond and the skill of a master diamond cutter to bring your diamond to you. The time you spend now can bring you a lifetime of pleasure, satisfaction, and happiness.
                    </p>
                </div>

                <div class="grid lg:grid-cols-9 md:grid-cols-6 grid-cols-4  gap-5 ">
                    <div class="">
                        <img src="~/img/dc11.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dc22.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dc33.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dc44.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dc55.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dc66.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dc77.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dc88.png" alt="">
                    </div>
                    <div class="">
                        <img src="~/img/dc99.png" alt="">
                    </div>
                </div>


            </div>



            <div class=" w-full">
                <div class="newslater lg:h-[120px] w-full items-center  gap-5 justify-between p-5 flex md:px-10   my-16">
                    <p class="text-2xl font-bold">
                        Subscribe to Our
                        Newsletter
                    </p>
                    <div class="flex flex-col items-center  ">
                        <div class="lg:flex items-center gap-3">
                            <input type="text"
                                   class="h-[50px] rounded-md px-3"
                                   placeholder="Your E-mail" />
                            <a href="~/home/Index">
                                <button class="h-[50px] px-5 my-2 rounded-md border hover:border-2 border-[#B76E79]">
                                    Subscribe
                                </button>
                            </a>
                        </div>
                        <p class="text-sm text-[#E9E9E9]">
                            Discover the latest collections, news and exclusive launches.
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <!-- footer section  -->

        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-y-10 w-full lg:px-40 px-20 py-10 mt-20 justify-items-center">
            <div class="flex flex-col gap-y-7 ">
                <div class="flex flex-col">
                    <p class="text-[#B76E79] font-semibold">AM DIAM DMCC</p>
                    <p class="py-2 text-white">is represented by:</p>
                </div>
                <div class="">
                    <p class="text-[#B76E79] font-semibold">Headquarters</p>
                    <a href="" target="_blank" class="flex gap-3 py-3 ">
                        <i class="fas fa-solid fa-location-dot text-xl text-white"></i>


                        <p class="text-white hover:text-[#B76E79]">
                            46 A, ALMAS TOWER  <br>
                            JLT P.O. Box: 376531,  <br>
                            Dubai UAE
                        </p>
                    </a>

                    <a href="tel:+97145299683" class="flex gap-3 py-3">
                        <i class="fas fa-regular fa-phone text-white text-xl"></i>
                        <p class="text-lg text-white hover:text-[#B76E79]">+971 4 529 9683</p>
                    </a>




                    <div class="flex   gap-3 py-3">
                        <i class="fas fa-solid fa-envelope text-white text-xl"></i>
                        <div class="flex flex-col gap-y-2">
                            <a href="mailto: accounts@amdiamdmcc.com" target="_blank">
                                <p class="text-white  hover:text-[#B76E79] text-lg">accounts@amdiamdmcc.com</p>
                                <a href="mailto: info@amdiamdmcc.com" target="_blank"><p class="text-white  hover:text-[#B76E79] text-lg">info@amdiamdmcc.com</p> </a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="flex flex-col ">
                <div class="flex items-start">
                    <p class="text-white font-semibold text-xl pb-7">Quick Links</p>
                </div>
                <div class="flex flex-col gap-y-4">
                    <div class="flex gap-3 items-center">
                        <i class="fas text-white fa-solid fa-chevron-right"></i>
                        <a href="service.html"><p class="text-[#E9E9E9] hover:text-[#B76E79]">DIAMOND BUYING</p></a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <i class="fas text-white fa-solid fa-chevron-right"></i>
                        <a href="~/Services/service2">
                            <p class="text-[#E9E9E9] hover:text-[#B76E79]">DIAMOND SOURCING</p>
                        </a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <i class="fas text-white fa-solid fa-chevron-right"></i>
                        <a href="~/Services/service1.html"><p class="text-[#E9E9E9] hover:text-[#B76E79]">DIAMOND SELLING</p></a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <i class="fas text-white fa-solid fa-chevron-right"></i>
                        <a href="~/Services/service5">
                            <p class="text-[#E9E9E9] hover:text-[#B76E79]">MANUFACTURING</p>
                        </a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <i class="fas text-white fa-solid fa-chevron-right"></i>
                        <a href="~/Services/service9"><p class="text-[#E9E9E9] hover:text-[#B76E79]">INVESTMENT DIAMOND</p></a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <i class="fas text-white fa-solid fa-chevron-right"></i>
                        <a href="education1.html"><p class="text-[#E9E9E9] hover:text-[#B76E79]">4C OF DIAMOND</p></a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <i class="fas text-white fa-solid fa-chevron-right"></i>
                        <a href="~/home/about"> <p class="text-[#E9E9E9] hover:text-[#B76E79]">ABOUT US</p></a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <i class="fas text-white fa-solid fa-chevron-right"></i>
                        <a href="career.html"><p class="text-[#E9E9E9] hover:text-[#B76E79]">CAREER</p></a>
                    </div>
                    <div class="flex gap-3 items-center">
                        <i class="fas text-white fa-solid fa-chevron-right"></i>
                        <a href="contact.html"><p class="text-[#E9E9E9] hover:text-[#B76E79]">CONTACT</p></a>
                    </div>
                </div>
            </div>
            <div class="flex flex-col ">
                <p class="text-white font-semibold text-xl pb-7">Social Platform</p>

                <div class="flex flex-col gap-3">
                    <a href="https://www.facebook.com/profile.php?id=100095627850378" target="_blank"
                       class="flex gap-3 text-white hover:text-[#B76E79]">
                        <i class="fa-brands fa-facebook text-xl"></i>
                        <p class="">Facebook</p>
                    </a>
                    <a href="~/home/Index"
                       class="flex gap-3 text-white hover:text-[#B76E79]">
                        <i class="fa-brands fa-pinterest text-xl"></i>
                        <p class="">Pinterest</p>
                    </a>
                    <a href="https://www.instagram.com/amdiamdmcc/" target="_blank"
                       class="flex gap-3 text-white hover:text-[#B76E79]">
                        <i class="fa-brands fa-instagram text-xl"></i>
                        <p class="">Instagram</p>
                    </a>
                    <a href="https://www.youtube.com/channel/UCXSNlDCCia8tjEXbMTgH9uQ" target="_blank"
                       class="flex gap-3 text-white hover:text-[#B76E79]">
                        <i class="fa-brands fa-youtube text-xl"></i>
                        <p class="">Youtube</p>
                    </a>



                </div>
            </div>
        </div>
    </div>

    <div class="py-3 bg-[#24101B] px-20">
        <p class="text-white font-medium">
            AM Diam | Copyrights © 2023 All Rights Reserved
        </p>
    </div>



    <!-- navbar javascript  -->
    <script>
      const button = document.querySelector("#menu-button");
      const menu = document.querySelector("#menu");

      button.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    </script>

    <!-- Tailwindcss Config -->
    <script>
      tailwind.config = {
        theme: {
          theme: {
            extends: {

              fontFamily: {
           'poppins': ['Poppins'],
        },
              screens: {
                @*sm: "640px",
                // => @media (min-width: 640px) { ... }

                md: "768px",
                // => @media (min-width: 768px) { ... }

                lg: "1024px",
                // => @media (min-width: 1024px) { ... }

                xl: "1280px",
                // => @media (min-width: 1280px) { ... }

                "2xl": "1536px",
                // => @media (min-width: 1536px) { ... }*@
              },
            },
          },
        },
      };
    </script>

    <!-- JS File -->
    <script src=".~/js/main.js"></script>
</body>
</html>
